In [46]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as soup

In [47]:
response = req.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [48]:
soup = soup(response, 'html.parser')

In [49]:
id = []
name = []
age = []
for employee in soup.find('table').find_all('tr', class_='employee'):
    id.append(employee.find_all('td')[0].text)
    name.append(employee.find_all('td')[1].text)
    age.append(employee.find_all('td')[2].text)

In [50]:
df = pd.DataFrame({
    'id': id,
    'name': name,
    'age': age
})
df.head()

    id            name age
0  101        John Doe  28
1  102      Jane Smith  32
2  103  Robert Johnson  24
3  104    Mary Johnson  29
4  105   Michael Brown  35

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [52]:
df['age'] = pd.to_numeric(df['age'])
df['id'] = pd.to_numeric(df['id'])

In [53]:
avg_age = df['age'].mean()
print(avg_age)

29.875

In [55]:
sd_age = df['age'].std()
print(sd_age)

3.563204817496262